<table border='0' cellspacing='0' cellpadding='0' style='max-width:600px'>
    <tbody>
        <tr>
            <td>
                <table width='100%' border='0' cellspacing='0' cellpadding='0'>
                    <tbody>
                        <tr>
                            <td align='left'><img width='%100' src='http://kozmoslisesi.com/dosya/2017/08/logo-kozmosa.png' style='display:block;width:150px;min-height:32px'></td>
                            <td align='right'></td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr height='16'></tr>
        <tr>
            <td>
                <table bgcolor='#C70039' width='100%' border='0' cellspacing='0' cellpadding='0' style='min-width:332px;max-width:600px;border:1px solid #f0f0f0;border-bottom:0;border-top-left-radius:3px;border-top-right-radius:3px'>
                    <tbody>
                        <tr>
                            <td height='72px' colspan='3'></td>
                        </tr>
                        <tr>
                            <td width='32px'></td>
                            <td style='font-family:Roboto-Regular,Helvetica,Arial,sans-serif;font-size:24px;color:#ffffff;line-height:1.25;min-width:300px'>Tanıştığımıza memnun olduk. Yarışmamıza hoş geldiniz!
                            </td>
                            <td width='32px'></td>
                        </tr>
                        <tr>
                            <td height='18px' colspan='3'></td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                <table bgcolor='#FFFFFF' width='100%' border='0' cellspacing='0' cellpadding='0' style='min-width:332px;max-width:600px;border:1px solid #f0f0f0;border-top:0'>
                    <tbody>
                        <tr>
                            <td height='18px' colspan='3'></td>
                        </tr>
                        <tr>
                            <td width='32px'></td>
                            <td style='font-family:Roboto-Regular,Helvetica,Arial,sans-serif;font-size:13px;color:#202020;line-height:1.5'>Hesabınız nerdeyse hazır, hesabınızı doğrulamak için lütfen bu linke tıklayınız: <a href='{{LINK}}'>{{LINK}}</a>".DIR."activate.php?x=$id&y=$activasion</a> Şimdi giriş yap bölümünden giriş yaparak yarışmanın başlamasını bekleyebilirsin.
                                <br>
                                <br> Teşekkürler,
                                <br> Willingly</td>
                            <td width='10px'></td>
                        </tr>
                        <tr>
                            <td height='18px' colspan='3'></td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>